[Desktop Entry]
Name=Nepomuk PIMO annotation plugin
Name[et]=Nepomuki PIMO annoteerimise plugin
Name[km]=កម្មវិធី​ជំនួយ​ចំណារ​ពន្យល់​​ Nepomuk PIMO
Name[nl]=Nepomuk PIMO-annotatie-plugin
Name[pt]='Plugin' de anotações do PIMO para o Nepomuk
Name[pt_BR]=Plug-in de anotações PIMO do Nepomuk
Name[uk]=Додаток анотації PIMO Nepomuk
Name[x-test]=xxNepomuk PIMO annotation pluginxx
Comment=Nepomuk Annotation Plugin which creates or annotates PIMO things
Comment[et]=Nepomuki annotatsiooniplugin, mis loob või annoteerib PIMO asju
Comment[km]=កម្មវិធី​ជំនួយ​ចំណារ​ពន្យល់​​ Nepomuk ដែល​បង្កើត ឬ​ចំណាំ​វត្ថុ PIMO
Comment[nl]=Nepomuk annotatie-plugin die PIMO-dingen aanmaakt of annoteert
Comment[pt]='Plugin' de anotações do Nepomuk que cria ou faz anotações sobre itens do PIMO
Comment[pt_BR]=Um plug-in de anotações do Nepomuk que cria ou anota objetos PIMO
Comment[uk]=Додаток анотації Nepomuk, який створює і коментує елементи PIMO
Comment[x-test]=xxNepomuk Annotation Plugin which creates or annotates PIMO thingsxx
X-KDE-ServiceTypes=Nepomuk/AnnotationPlugin
Type=Service
X-KDE-Library=nepomuk_pimoannotationplugin

# We can annotate everything - we just create a pimo thing
X-Nepomuk-ResourceTypes=*
