[Desktop Entry]
Name=Nepomuk PIMO annotation plugin
Name[uk]=Додаток анотації PIMO Nepomuk
Comment=Nepomuk Annotation Plugin which creates or annotates PIMO things
Comment[uk]=Додаток анотації Nepomuk, який створює і коментує елементи PIMO
X-KDE-ServiceTypes=Nepomuk/AnnotationPlugin
Type=Service
X-KDE-Library=nepomuk_pimoannotationplugin

# We can annotate everything - we just create a pimo thing
X-Nepomuk-ResourceTypes=*
