[Desktop Entry]
Type=Service
ServiceTypes=NepomukService
X-KDE-Library=nepomukusercontextservice
X-KDE-Nepomuk-autostart=true
X-KDE-Nepomuk-start-on-demand=false
Name=Nepomuk User Context Service
Name[bs]=Nepomuk korisnička usluga dodataka
Name[de]=Benutzer-Kontextdienst für Nepomuk
Name[es]=Servicio de contexto de usuario de Nepomuk
Name[et]=Nepomuki kasutajakonteksti teenus
Name[fr]=Service de contexte utilisateur de Nepomuk
Name[gl]=Servizo Nepomuk de contexto do usuario
Name[hu]=Nepomuk felhasználói környezet szolgáltatás
Name[km]=សេវា​បរិបទ​អ្នកប្រើ Nepomuk
Name[mr]=नेपोमुक वापरकर्ता संदर्भ सेवा
Name[nds]=Nepomuk-Brukerümfeld-Deenst
Name[nl]=Gebruikerscontext van Nepomuk-dienst
Name[pl]=Usługa kontekstu użytkownika dla Nepomuk
Name[pt]=Serviço do Contexto de Utilizador do Nepomuk
Name[pt_BR]=Serviço do Contexto de Usuário do Nepomuk
Name[sk]=Služba kontextu používateľa Nepomuk
Name[sv]=Nepomuk användarsammanhangstjänst
Name[uk]=Служба контексту користувача Nepomuk
Name[x-test]=xxNepomuk User Context Servicexx
Comment=The Nepomuk User Context Service maintains the currently active user work context
Comment[bs]=Nepomuk korisnička usluga dodataka sadrži trenutno aktivne radne dodatke korisnika.
Comment[de]=Dieser Dienst verwaltet der zurzeit aktiven Arbeitskontext des Benutzers
Comment[es]=El servicio de contexto de usuario de Nepomuk mantiene el contexto de trabajo del usuario actualmente activo
Comment[et]=Nepomuki kasutajakonteksti teenus kannab hoolt aktiivse kasutaja tegevuse konteksti eest
Comment[fr]=Le service de contexte utilisateur Nepomuk maintient le contexte utilisateur de travail actuel
Comment[gl]=O servizo de contexto do usuario de Nepomuk mantén o contexto de traballo do usuario activo
Comment[hu]=A Nepomuk felhasználói környezet szolgáltatás tartja karban a jelenleg aktív felhasználói munkakörnyezetet
Comment[km]=សេវា​បរិបទ​អ្នក​ប្រើ Nepomuk ថែទាំ​បរិបទ​ការងារ​អ្នកប្រើ​សកម្ម​បច្ចុប្បន្ន
Comment[nds]=Nepomuk sien Brukerümfeld-Deenst pleegt dat opstunns aktive Brukerümfeld
Comment[nl]=De gebruikerscontext van de Nepomuk-dienst onderhoudt de werkcontext van de actieve gebruiker
Comment[pl]=Usługa kontekstu użytkownika dla Nepomuk zachowuje bieżący kontekst pracy użytkownika
Comment[pt]=O Serviço do Contexto do Utilizador para o Nepomuk mantém o contexto de trabalho activo do utilizador
Comment[pt_BR]=O Serviço do Contexto de Usuário do Nepomuk mantém o contexto de trabalho do usuário ativo no momento
Comment[sk]=Služba kontextu používateľa Nepomuk udržiava pracovný kontext aktuálne aktívneho používateľa
Comment[sv]=Nepomuks användarsammanhangstjänst håller reda på arbetssammanhanget för användaren som för närvarande är aktiv
Comment[uk]=Служба контексту користувача Nepomuk підтримує контекст роботи поточного активного користувача
Comment[x-test]=xxThe Nepomuk User Context Service maintains the currently active user work contextxx
