[Desktop Entry]
Type=Service
ServiceTypes=NepomukService
X-KDE-Library=nepomukusercontextservice
X-KDE-Nepomuk-autostart=true
X-KDE-Nepomuk-start-on-demand=false
Name=Nepomuk User Context Service
Name[el]=Υπηρεσία Nepomuk σχετική με το χρήστη
Name[en_GB]=Nepomuk User Context Service
Name[es]=Servicio de contexto de usuario de Nepomuk
Name[et]=Nepomuki kasutajakonteksti teenus
Name[fr]=Service du contexte utilisateur pour Nepomuk
Name[gl]=Servizo de contexto do usuario de Nepomuk
Name[hr]=Nepomuk Usluga Konteksta Korisnika
Name[ja]=Nepomuk ユーザコンテキストサービス
Name[km]=សេវា​បរិបទ​អ្នក​ប្រើ​របស់ Nepomuk
Name[nds]=Nepomuk-Brukerümfeld-Deenst
Name[pt]=Serviço do Contexto de Utilizador do Nepomuk
Name[pt_BR]=Serviço do Contexto de Usuário do Nepomuk
Name[sv]=Nepomuk användarsammanhangstjänst
Name[uk]=Служба контексту користувача Nepomuk
Name[x-test]=xxNepomuk User Context Servicexx
Comment=The Nepomuk User Context Service maintains the currently active user work context
Comment[el]=Η υπηρεσία του Nepomuk σχετική με το χρήση συντηρεί το τρέχον ενεργό περιεχόμενο εργασίας του χρήστη
Comment[en_GB]=The Nepomuk User Context Service maintains the currently active user work context
Comment[es]=El servicio de contexto de usuario de Nepomuk mantiene el contexto de trabajo del usuario activo
Comment[et]=Nepomuki kasutajakonteksti teenus kannab hoolt aktiivse kasutaja tegevuse konteksti eest
Comment[fr]=Le service du contexte utilisateur pour Nepomuk maintient le contexte de travail de l'utilisateur courant
Comment[gl]=O servizo de contexto do usuario de Nepomuk mantén o contexto de traballo do usuario activo
Comment[hr]=Nepomuk Usluga Konteksta Korisnika održava kontekst korisničkog aktivnog posla
Comment[km]=សេវា​បរិបទ​អ្នក​ប្រើ Nepomuk ថែទាំ​បរិបទ​ការងារ​អ្នក​ប្រើ​សកម្ម​បច្ចុប្បន្ន
Comment[nds]=Nepomuk sien Brukerümfeld-Deenst pleegt dat opstunns aktive Brukerümfeld
Comment[pt]=O Serviço do Contexto de Utilizador do Nepomuk mantém o contexto de trabalho do utilizador activo de momento
Comment[pt_BR]=O Serviço do Contexto de Usuário do Nepomuk mantém o contexto de trabalho do usuário ativo no momento
Comment[sv]=Nepomuk användarsammanhangstjänst hanterar användarens aktiva arbetssammanhang
Comment[uk]=Служба контексту користувача Nepomuk підтримує контекст роботи поточного активного користувача
Comment[x-test]=xxThe Nepomuk User Context Service maintains the currently active user work contextxx
