[Desktop Entry]
Type=Service
ServiceTypes=NepomukService
X-KDE-Library=nepomukusercontextservice
X-KDE-Nepomuk-autostart=true
X-KDE-Nepomuk-start-on-demand=false
Name=Nepomuk User Context Service
Comment=The Nepomuk User Context Service maintains the currently active user work context
