[Desktop Entry]
Encoding=UTF-8
Type=Service
Name=Assign tags and rate pages
Name[uk]=Призначити мітки і оцінити сторінки
X-KDE-Library=nepomukmenuplugin
ServiceTypes=KonqPopupMenu/Plugin
MimeType=text/html;

