[Desktop Entry]
Encoding=UTF-8
Type=Service
Name=Assign tags and rate pages
Name[nds]=Slötelwöör towiesen un Sieden beweerten
Name[nl]=Tags toewijzen en pagina's waarderen
Name[pt]=Atribuir marcas e classificar as páginas
Name[uk]=Призначити мітки і оцінити сторінки
Name[x-test]=xxAssign tags and rate pagesxx
X-KDE-Library=nepomukmenuplugin
ServiceTypes=KonqPopupMenu/Plugin
MimeType=text/html;

