[Desktop Entry]
Encoding=UTF-8
Type=Service
Name=Assign tags and rate pages
Name[el]=Ορισμός σελίδων ετικετών και αξιολόγησης
Name[en_GB]=Assign tags and rate pages
Name[es]=Asignar etiquetas y puntuar páginas
Name[et]=Siltide omistamine ja lehekülgede hindamine
Name[fr]=Affecter des étiquettes et une note aux pages
Name[gl]=Asignar etiquetas e cualificar as páxinas
Name[hr]=Dodaj oznake i ocijeni stranice
Name[km]=ផ្ដល់ស្លាក​ និង​វាយ​តម្លៃ​ទំព័រ
Name[nds]=Slötelwöör towiesen un Sieden beweerten
Name[nl]=Tags toewijzen en pagina's waarderen
Name[pt]=Atribuir marcas e classificar as páginas
Name[pt_BR]=Atribuir marcas e classificar as páginas
Name[ro]=Atribuie marcaje și evaluează pagini
Name[sv]=Tilldela etiketter och betygsätt sidor
Name[tr]=Etiket ata ve sayfaları oyla
Name[uk]=Призначити мітки і оцінити сторінки
Name[x-test]=xxAssign tags and rate pagesxx
X-KDE-Library=nepomukmenuplugin
ServiceTypes=KonqPopupMenu/Plugin
MimeType=text/html;

