[Desktop Entry]
Name=Nepomuk webpage annotation plugin
Name[bs]=Nepomuk dodatak za pribilješke web stranica
Name[de]=Nepomuk-Modul für Webseiten-Anmerkungen
Name[es]=Complemento de notas para páginas web de Nepomuk
Name[et]=Nepomuki veebilehekülje annoteerimise plugin
Name[fi]=Nepomukin verkkosivun merkintäliitännäinen
Name[fr]=Module externe Nepomuk d'annotations de pages Web
Name[gl]=Complemento de anotación de páxinas web de Nepomuk
Name[hu]=Nepomuk weboldal magyarázat bővítmény
Name[km]=កម្មវិធី​ជំនួយ​ចំណារ​ពន្យល់​ទំព័រ​បណ្ដាញ Nepomuk
Name[mr]=नेपोमुक वेबपान एनोटेशन प्लगइन
Name[nds]=Nepomuk-Nettsieden-Anmarkmoduul
Name[nl]=Nepomuk annotatie-plugin voor webpagina's
Name[pl]=Wtyczka adnotacji stron internetowych dla Nepomuk
Name[pt]='Plugin' de anotações de páginas Web do Nepomuk
Name[pt_BR]=Plugin de anotação de páginas Web do Nepomuk
Name[sk]=Plugin anotácie webovej stránky Nepomuk
Name[sv]=Nepomuk noteringsinsticksprogram för webbsidor
Name[uk]=Додаток анотації вебсторінок Nepomuk
Name[x-test]=xxNepomuk webpage annotation pluginxx
Comment=Nepomuk webpage region annotation plugin
Comment[bs]=Nepomuk dodatak za pribilješke regiona web stranica
Comment[de]=Nepomuk-Modul für Anmerkungen zu Webseitenbereichen
Comment[es]=Complemento de notas de región para páginas web de Nepomuk
Comment[et]=Nepomuki veebilehekülje piirkonna annoteerimise plugin
Comment[fi]=Nepomukin verkkosivualueen merkintäliitännäinen
Comment[fr]=Module externe Nepomuk d'annotations de régions de pages Web
Comment[gl]=Complemento de anotación de rexións de páxinas web de Nepomuk
Comment[hu]=Nepomuk weboldal régió magyarázat bővítmény
Comment[km]=កម្មវិធី​ជំនួយ​ចំណារ​ពន្យល់​​តំបន់​ទំព័រ​បណ្ដាញ Nepomuk
Comment[mr]=नेपोमुक वेबपान क्षेत्र एनोटेशन प्लगइन
Comment[nds]=Nepomuk-Nettsietrebeet-Anmarkmoduul
Comment[nl]=Nepomuk annotatie-plugin voor webpagina-regio's
Comment[pl]=Wtyczka adnotacji regionów stron internetowych dla Nepomuk
Comment[pt]='Plugin' de anotações de regiões para páginas Web do Nepomuk
Comment[pt_BR]=Plugin de anotação da região das páginas Web do Nepomuk
Comment[sk]=Plugin anotácie oblasti webovej stránky Nepomuk
Comment[sv]=Nepomuk noteringsinsticksprogram för webbsidor i områden
Comment[uk]=Додаток анотації регіону вебсторінок Nepomuk
Comment[x-test]=xxNepomuk webpage region annotation pluginxx
X-KDE-ServiceTypes=Nepomuk/AnnotationPlugin
Type=Service
X-KDE-Library=nepomuk_webpageannotationplugin

# FIXME
X-Nepomuk-ResourceTypes=*
