[Desktop Entry]
Name=Nepomuk webpage annotation plugin
Name[et]=Nepomuki veebilehekülje annoteerimise plugin
Name[fr]=Module externe Nepomuk d'annotations de pages web
Name[km]=កម្មវិធី​ជំនួយ​ចំណារ​ពន្យល់​ទំព័រ​បណ្ដាញ Nepomuk
Name[nds]=Nepomuk-Nettsieden-Anmarkmoduul
Name[nl]=Nepomuk annotatie-plugin voor webpagina's
Name[pl]=Wtyczka adnotacji stron internetowych dla Nepomuk
Name[pt]='Plugin' de anotações de páginas Web do Nepomuk
Name[pt_BR]=Plug-in de anotação de páginas Web do Nepomuk
Name[sv]=Nepomuk noteringsinsticksprogram för webbsidor
Name[uk]=Додаток анотації вебсторінок Nepomuk
Name[x-test]=xxNepomuk webpage annotation pluginxx
Comment=Nepomuk webpage region annotation plugin
Comment[et]=Nepomuki veebilehekülje piirkonna annoteerimise plugin
Comment[fr]=Module externe Nepomuk d'annotations de régions de pages web
Comment[km]=កម្មវិធី​ជំនួយ​ចំណារ​ពន្យល់​​តំបន់​ទំព័រ​បណ្ដាញ Nepomuk
Comment[nds]=Nepomuk-Nettsietrebeet-Anmarkmoduul
Comment[nl]=Nepomuk annotatie-plugin voor webpagina-regio's
Comment[pl]=Wtyczka adnotacji regionów stron internetowych dla Nepomuk
Comment[pt]='Plugin' de anotações de regiões para páginas Web do Nepomuk
Comment[pt_BR]=Plug-in de anotação da região das páginas Web do Nepomuk
Comment[sv]=Nepomuk noteringsinsticksprogram för webbsidor i områden
Comment[uk]=Додаток анотації регіону вебсторінок Nepomuk
Comment[x-test]=xxNepomuk webpage region annotation pluginxx
X-KDE-ServiceTypes=Nepomuk/AnnotationPlugin
Type=Service
X-KDE-Library=nepomuk_webpageannotationplugin

# FIXME
X-Nepomuk-ResourceTypes=*
