[Desktop Entry]
Name=Nepomuk webpage annotation plugin
Name[el]=Πρόσθετο σημείωσης ιστοσελίδων του Nepomuk
Name[en_GB]=Nepomuk webpage annotation plugin
Name[es]=Complemento de anotación de páginas web de Nepomuk
Name[et]=Nepomuki veebilehekülje annoteerimise plugin
Name[fr]=Module d'annotation de page web pour Nepomuk
Name[gl]=Extensión de anotación de páxinas web para Nepomuk
Name[hr]=Nepomuk priključak za komentiranje web stranica
Name[ja]=Nepomuk ウェブページ注釈プラグイン
Name[km]=កម្មវិធី​ជំនួយ​ចំណារ​ទំព័របណ្ដាញ​របស់ Nepomuk
Name[nds]=Nepomuk-Nettsieden-Anmarkmoduul
Name[nl]=Nepomuk annotatie-plugin voor webpagina's
Name[pt]='Plugin' de anotação de páginas Web do Nepomuk
Name[pt_BR]=Plugin de anotação de páginas Web do Nepomuk
Name[ro]=Modul Nepomuk de adnotare a paginilor web
Name[sv]=Nepomuk insticksprogram för notering av webbsidor
Name[tr]=Nepomuk web sayfası duyuru eklentisi
Name[uk]=Додаток анотації вебсторінок Nepomuk
Name[x-test]=xxNepomuk webpage annotation pluginxx
Comment=Nepomuk webpage region annotation plugin
Comment[el]=Πρόσθετο σημείωσης περιοχής ιστοσελίδων του Nepomuk
Comment[en_GB]=Nepomuk webpage region annotation plugin
Comment[et]=Nepomuki veebilehekülje piirkonna annoteerimise plugin
Comment[fr]=Module d'annotation de zone de page web pour Nepomuk
Comment[gl]=Extensión de anotación de rexión de páxinas web para Nepomuk
Comment[hr]=Nepomuk priključak za komentiranje regija web stranica
Comment[km]=កម្មវិធី​ជំនួយ​ចំណារ​តំបន់​ទំព័រ​បណ្ដាញ​របស់ Nepomuk
Comment[nds]=Nepomuk-Nettsietrebeet-Anmarkmoduul
Comment[nl]=Nepomuk annotatie-plugin voor webpagina-regio's
Comment[pt]='Plugin' de anotação da região das páginas Web do Nepomuk
Comment[pt_BR]=Plugin de anotação da região das páginas Web do Nepomuk
Comment[sv]=Nepomuk insticksprogram för notering av webbsidområde
Comment[tr]=Nepomuk web sayfası alanı duyuru eklentisi
Comment[uk]=Додаток анотації регіону вебсторінок Nepomuk
Comment[x-test]=xxNepomuk webpage region annotation pluginxx
X-KDE-ServiceTypes=Nepomuk/AnnotationPlugin
Type=Service
X-KDE-Library=nepomuk_webpageannotationplugin

# FIXME
X-Nepomuk-ResourceTypes=*
