[Desktop Entry]
Name=Nepomuk PIMO type plugin
Name[el]=Πρόσθετο τύπου PIMO του Nepomuk
Name[en_GB]=Nepomuk PIMO type plugin
Name[es]=Complemento de tipos PIMO de Nepomuk
Name[et]=Nepomuki PIMO tüübi plugin
Name[fr]=Module de gestion des types PIMO pour Nepomuk
Name[gl]=Extensión de escritura PIMO para Nepomuk
Name[hr]=Nepomuk priključak za tipiziranje PIMO-a
Name[ja]=Nepomuk PIMO 型プラグイン
Name[km]=កម្មវិធី​ជំនួយ​ប្រភេទ Nepomuk PIMO
Name[nds]=Nepomuk-TIM-Typmoduul
Name[nl]=Nepomuk PIMO-type plugin
Name[pt]='Plugin' de tipos PIMO do Nepomuk
Name[pt_BR]=Plugin de tipos PIMO do Nepomuk
Name[sv]=Nepomuk insticksprogram för PIMO-typer
Name[tr]=Nepomuk PIMO türü eklentisi
Name[uk]=Додаток типів PIMO Nepomuk
Name[x-test]=xxNepomuk PIMO type pluginxx
Comment=Nepomuk Annotation Plugin which creates and types PIMO things
Comment[el]=Πρόσθετο σημείωσης Nepomuk το οποίό δημιουργεί και τυποποιεί στοιχεία PIMO
Comment[en_GB]=Nepomuk Annotation Plugin which creates and types PIMO things
Comment[es]=Complemento de anotación de Nepomuk que crea y asigna tipo a cosas PIMO
Comment[et]=Nepomuki annotatsiooniplugin, mis loob ja annab tüübi PIMO asjadele
Comment[fr]=Module d'annotation pour Nepomuk qui crée et type des éléments PIMO
Comment[gl]=Extensión de anotación de Nepomuk que crea ou escribe cousas PIMO
Comment[hr]=Nepomuk priključak za komentiranje koji stvara i tipizira PIMO stvari
Comment[km]=កម្មវិធី​ជំនួយ​ចលនា Nepomuk ដែល​បង្កើត​ ឬ​​ពន្យល់​​រឿង PIMO
Comment[nds]=Nepomuk-Anmarkmoduul, dat TIM-Elementen opstellt oder ingifft
Comment[nl]=Nepomuk annotatie-plugin die PIMO-dingen aanmaakt en typeert
Comment[pt]=Um 'plugin' de anotações do Nepomuk que cria ou anota objectos PIMO
Comment[pt_BR]=Um plugin de anotações do Nepomuk que cria ou anota objetos PIMO
Comment[sv]=Nepomuk insticksprogram för notering som skapar eller noterar PIMO-saker
Comment[uk]=Додаток анотації Nepomuk, який створює і класифікує елементи PIMO
Comment[x-test]=xxNepomuk Annotation Plugin which creates and types PIMO thingsxx
X-KDE-ServiceTypes=Nepomuk/AnnotationPlugin
Type=Service
X-KDE-Library=nepomuk_pimotypeannotationplugin

# We can annotate everything - we just create a pimo thing
X-Nepomuk-ResourceTypes=*
