[Desktop Entry]
Name=Nepomuk PIMO type plugin
Name[et]=Nepomuki PIMO tüübi plugin
Name[fr]=Module externe Nepomuk de types PIMO
Name[km]=កម្មវិធី​ជំនួយ​ប្រភេទ Nepomuk PIMO
Name[nl]=Nepomuk PIMO-type plugin
Name[pl]=Wtyczka typów PIMO dla Nepomuk
Name[pt]='Plugin' de tipos PIMO do Nepomuk
Name[pt_BR]=Plug-in de tipos PIMO do Nepomuk
Name[sv]=Nepomuk PIMO-typinsticksprogram
Name[uk]=Додаток типів PIMO Nepomuk
Name[x-test]=xxNepomuk PIMO type pluginxx
Comment=Nepomuk Annotation Plugin which creates and types PIMO things
Comment[et]=Nepomuki annotatsiooniplugin, mis loob ja annab tüübi PIMO asjadele
Comment[fr]=Module externe Nepomuk d'annotation créant et caractérisant des éléments PIMO
Comment[km]=កម្មវិធី​ជំនួយ​ចំណារ​ពន្យល់​​ Nepomuk ដែល​បង្កើត និង​ដាក់​វត្ថុ PIMO ឲ្យ​នៅ​ដោយ​ឡែក
Comment[nl]=Nepomuk annotatie-plugin die PIMO-dingen aanmaakt en typeert
Comment[pl]=Wtyczka adnotacji dla Nepomuk, która tworzy i nadaje typ rzeczom PIMO
Comment[pt]='Plugin' de anotações do Nepomuk que cria e tipifica itens do PIMO
Comment[pt_BR]=Um plug-in de anotações do Nepomuk que cria ou anota objetos PIMO
Comment[sv]=Nepomuk noteringsinsticksprogram vilket skapar och  ger typer till PIMO
Comment[uk]=Додаток анотації Nepomuk, який створює і класифікує елементи PIMO
Comment[x-test]=xxNepomuk Annotation Plugin which creates and types PIMO thingsxx
X-KDE-ServiceTypes=Nepomuk/AnnotationPlugin
Type=Service
X-KDE-Library=nepomuk_pimotypeannotationplugin

# We can annotate everything - we just create a pimo thing
X-Nepomuk-ResourceTypes=*
