[Desktop Entry]
Name=Nepomuk files annotation plugin
Name[nds]=Nepomuk-Datei-Anmarkmoduul
Name[nl]=Nepomuk annotatie-plugin voor bestanden
Name[pt]='Plugin' de anotações de ficheiros do Nepomuk
Name[pt_BR]=Plug-in de anotação de arquivos do Nepomuk
Name[uk]=Додаток анотації файлів Nepomuk
Name[x-test]=xxNepomuk files annotation pluginxx
Comment=Nepomuk files annotation plugin
Comment[nds]=Nepomuk-Datei-Anmarkmoduul
Comment[nl]=Nepomuk annotatie-plugin voor bestanden
Comment[pt]='Plugin' de anotações de ficheiros do Nepomuk
Comment[pt_BR]=Plug-in de anotação de arquivos do Nepomuk
Comment[uk]=Додаток анотації файлів Nepomuk
Comment[x-test]=xxNepomuk files annotation pluginxx
X-KDE-ServiceTypes=Nepomuk/AnnotationPlugin
Type=Service
X-KDE-Library=nepomuk_filesannotationplugin
X-KDE-NepomukProperties=http://www.semanticdesktop.org/ontologies/2007/08/15/nao#isRelated
X-KDE-NepomukResourceType=http://freedesktop.org/standards/xesam/1.0/core#File
