[Desktop Entry]
Name=Nepomuk files annotation plugin
Name[de]=Nepomuk-Modul für Dateianmerkungen
Name[es]=Complemento de notas de archivos para Nepomuk
Name[et]=Nepomuki failide annoteerimise plugin
Name[fr]=Module externe Nepomuk d'annotation de fichiers
Name[gl]=Engadido de anotación de ficheiros de Nepomuk
Name[hu]=Nepomuk fájl magyarázat bővítmény
Name[km]=កម្មវិធី​ជំនួយ​ចំណារ​ពន្យល់​ឯកសារ Nepomuk
Name[nds]=Nepomuk-Datei-Anmarkmoduul
Name[nl]=Nepomuk annotatie-plugin voor bestanden
Name[pl]=Wtyczka adnotacji plików dla Nepomuk
Name[pt]='Plugin' de anotações de ficheiros do Nepomuk
Name[pt_BR]=Plugin de anotação de arquivos do Nepomuk
Name[sk]=Plugin anotácie súborov Nepomuk
Name[sv]=Nepomuk noteringsinsticksprogram för filer
Name[uk]=Додаток анотації файлів Nepomuk
Name[x-test]=xxNepomuk files annotation pluginxx
Comment=Nepomuk files annotation plugin
Comment[de]=Nepomuk-Modul für Dateianmerkungen
Comment[es]=Complemento de notas de archivos para Nepomuk
Comment[et]=Nepomuki failide annoteerimise plugin
Comment[fr]=Module externe Nepomuk d'annotation de fichiers
Comment[gl]=Engadido de anotación de ficheiros de Nepomuk
Comment[hu]=Nepomuk fájl magyarázat bővítmény
Comment[km]=កម្មវិធី​ជំនួយ​ចំណារ​ពន្យល់​ឯកសារ Nepomuk
Comment[nds]=Nepomuk-Datei-Anmarkmoduul
Comment[nl]=Nepomuk annotatie-plugin voor bestanden
Comment[pl]=Wtyczka adnotacji plików dla Nepomuk
Comment[pt]='Plugin' de anotações de ficheiros do Nepomuk
Comment[pt_BR]=Plugin de anotação de arquivos do Nepomuk
Comment[sk]=Plugin anotácie súborov Nepomuk
Comment[sv]=Nepomuk noteringsinsticksprogram för filer
Comment[uk]=Додаток анотації файлів Nepomuk
Comment[x-test]=xxNepomuk files annotation pluginxx
X-KDE-ServiceTypes=Nepomuk/AnnotationPlugin
Type=Service
X-KDE-Library=nepomuk_filesannotationplugin
X-KDE-NepomukProperties=http://www.semanticdesktop.org/ontologies/2007/08/15/nao#isRelated
X-KDE-NepomukResourceType=http://freedesktop.org/standards/xesam/1.0/core#File
