[Desktop Entry]
Name=Nepomuk files annotation plugin
Name[el]=Πρόσθετο σημείωσης αρχείων του Nepomuk
Name[en_GB]=Nepomuk files annotation plugin
Name[es]=Complemento de anotación de archivos de Nepomuk
Name[et]=Nepomuki failide annoteerimise plugin
Name[fr]=Module d'annotation de fichiers pour Nepomuk
Name[gl]=Extensión de anotación de ficheiros para Nepomuk
Name[hr]=Nepomuk priključak za komentiranje datoteka
Name[ja]=Nepomuk ファイル注釈プラグイン
Name[km]=កម្មវិធី​ជំនួយ​ការ​ជូន​ដំណឹង​​ឯកសារ​របស់ Nepomuk
Name[nds]=Nepomuk-Datei-Anmarkmoduul
Name[nl]=Nepomuk annotatie-plugin voor bestanden
Name[pt]='Plugin' de anotações de ficheiros do Nepomuk
Name[pt_BR]=Plug-in de anotação de arquivos do Nepomuk
Name[ro]=Modul de adnotare a fișierelor Nepomuk
Name[sv]=Nepomuk insticksprogram för notering av filer
Name[tr]=Nepomuk dosyaları not eklentisi
Name[uk]=Додаток анотації файлів Nepomuk
Name[x-test]=xxNepomuk files annotation pluginxx
Comment=Nepomuk files annotation plugin
Comment[el]=Πρόσθετο σημείωσης αρχείων του Nepomuk
Comment[en_GB]=Nepomuk files annotation plugin
Comment[es]=Complemento de anotación de archivos de Nepomuk
Comment[et]=Nepomuki failide annoteerimise plugin
Comment[fr]=Module d'annotation de fichier pour Nepomuk
Comment[gl]=Extensión de anotación de ficheiros para Nepomuk
Comment[hr]=Nepomuk priključak za komentiranje datoteka
Comment[ja]=Nepomuk ファイル注釈プラグイン
Comment[km]=កម្មវិធី​ជំនួយ​ការ​ជូនដំណឹង​ឯកសារ​របស់ Nepomuk
Comment[nds]=Nepomuk-Datei-Anmarkmoduul
Comment[nl]=Nepomuk annotatie-plugin voor bestanden
Comment[pt]='Plugin' de anotação de ficheiros do Nepomuk
Comment[pt_BR]=Plug-in de anotação de arquivos do Nepomuk
Comment[ro]=Modul de adnotare a fișierelor Nepomuk
Comment[sv]=Nepomuk insticksprogram för notering av filer
Comment[tr]=Nepomuk dosyaları not eklentisi
Comment[uk]=Додаток анотації файлів Nepomuk
Comment[x-test]=xxNepomuk files annotation pluginxx
X-KDE-ServiceTypes=Nepomuk/AnnotationPlugin
Type=Service
X-KDE-Library=nepomuk_filesannotationplugin
X-KDE-NepomukProperties=http://www.semanticdesktop.org/ontologies/2007/08/15/nao#isRelated
X-KDE-NepomukResourceType=http://freedesktop.org/standards/xesam/1.0/core#File
