[Desktop Entry]
Name=Nepomuk image region annotation plugin
Name[el]=Πρόσθετο σημείωσης περιοχής εικόνων του Nepomuk
Name[en_GB]=Nepomuk image region annotation plugin
Name[es]=Complemento de anotación de regiones de imagen de Nepomuk
Name[et]=Nepomuki pildi piirkonna annoteerimise plugin
Name[fr]=Module d'annotation de zones d'images pour Nepomuk
Name[gl]=Extensión de anotación dunha rexión de imaxe para Nepomuk
Name[hr]=Nepomuk priključak za komentiranje regije slika
Name[ja]=Nepomuk イメージ領域注釈プラグイン
Name[km]=កម្មវិធី​ជំនួយ​ការ​ជូនដំណឹង​តំបន់​រូបភាព​របស់ Nepomuk
Name[nds]=Nepomuk-Bild-Anmarkmoduul
Name[nl]=Nepomuk afbeeldingsregio annotatie-plugin
Name[pt]='Plugin' de anotação das regiões das imagens do Nepomuk
Name[pt_BR]=Plugin de anotação das regiões das imagens do Nepomuk
Name[ro]=Modul Nepomuk de adnotare a regiunilor de imagini
Name[sv]=Nepomuk insticksprogram för notering av bildområden
Name[tr]=Nepomuk görüntü alanı duyuru eklentisi
Name[uk]=Додаток анотації області зображень Nepomuk
Name[x-test]=xxNepomuk image region annotation pluginxx
Comment=Nepomuk image region annotation plugin
Comment[el]=Πρόσθετο σημείωσης περιοχής εικόνων του Nepomuk
Comment[en_GB]=Nepomuk image region annotation plugin
Comment[es]=Complemento de anotación de regiones de imagen de Nepomuk
Comment[et]=Nepomuki pildi piirkonna annoteerimise plugin
Comment[fr]=Module d'annotation de zones d'images pour Nepomuk
Comment[gl]=Extensión de anotación dunha rexión de imaxe para Nepomuk
Comment[hr]=Nepomuk priključak za komentiranje regije slika
Comment[ja]=Nepomuk イメージ領域注釈プラグイン
Comment[km]=កម្មវិធី​ជំនួយ​ការ​ជូនដំណឹង​តំបន់​រូបភាព​របស់ Nepomuk
Comment[nds]=Nepomuk-Bild-Anmarkmoduul
Comment[nl]=Nepomuk afbeeldingsregio annotatie-plugin
Comment[pt]='Plugin' de anotação das regiões das imagens do Nepomuk
Comment[pt_BR]=Plugin de anotação das regiões das imagens do Nepomuk
Comment[ro]=Modul Nepomuk de adnotare a regiunilor de imagini
Comment[sv]=Nepomuk insticksprogram för notering av bildområden
Comment[tr]=Nepomuk görüntü alanı duyuru eklentisi
Comment[uk]=Додаток анотації області зображень Nepomuk
Comment[x-test]=xxNepomuk image region annotation pluginxx
X-KDE-ServiceTypes=Nepomuk/AnnotationPlugin
Type=Service
X-KDE-Library=nepomuk_imageregionannotationplugin
X-KDE-NepomukProperties=http://www.semanticdesktop.org/ontologies/2008/07/04/nir#regionDepicts
X-KDE-NepomukResourceType=http://freedesktop.org/standards/xesam/1.0/core#File,http://www.semanticdesktop.org/ontologies/2007/03/22/nco#PersonContact
