[Desktop Entry]
Name=Nepomuk image region annotation plugin
Name[et]=Nepomuki pildi piirkonna annoteerimise plugin
Name[km]=កម្មវិធី​ជំនួយ​ចំណារ​ពន្យល់​​តំបន់​រូបភាព Nepomuk
Name[nds]=Nepomuk-Bild-Anmarkmoduul
Name[nl]=Nepomuk afbeeldingsregio annotatie-plugin
Name[pl]=Wtyczka adnotacji regionów obrazów dla Nepomuk
Name[pt]='Plugin' de anotações de regiões de imagens do Nepomuk
Name[pt_BR]=Plug-in de anotação das regiões das imagens do Nepomuk
Name[uk]=Додаток анотації області зображень Nepomuk
Name[x-test]=xxNepomuk image region annotation pluginxx
Comment=Nepomuk image region annotation plugin
Comment[et]=Nepomuki pildi piirkonna annoteerimise plugin
Comment[km]=កម្មវិធី​ជំនួយ​ចំណារ​ពន្យល់​​តំបន់​រូបភាព Nepomuk
Comment[nds]=Nepomuk-Bild-Anmarkmoduul
Comment[nl]=Nepomuk afbeeldingsregio annotatie-plugin
Comment[pl]=Wtyczka adnotacji regionów obrazów dla Nepomuk
Comment[pt]='Plugin' de anotações de regiões de imagens do Nepomuk
Comment[pt_BR]=Plug-in de anotação das regiões das imagens do Nepomuk
Comment[uk]=Додаток анотації області зображень Nepomuk
Comment[x-test]=xxNepomuk image region annotation pluginxx
X-KDE-ServiceTypes=Nepomuk/AnnotationPlugin
Type=Service
X-KDE-Library=nepomuk_imageregionannotationplugin
X-KDE-NepomukProperties=http://www.semanticdesktop.org/ontologies/2008/07/04/nir#regionDepicts
X-KDE-NepomukResourceType=http://freedesktop.org/standards/xesam/1.0/core#File,http://www.semanticdesktop.org/ontologies/2007/03/22/nco#PersonContact
