[Desktop Entry]
Name=Nepomuk contact annotation plugin
Name[uk]=Додаток анотації контактів Nepomuk
Comment=Nepomuk contact annotation plugin
Comment[uk]=Додаток для анотації контактів Nepomuk
X-KDE-ServiceTypes=Nepomuk/AnnotationPlugin
Type=Service
X-KDE-Library=nepomuk_ncoannotationplugin
X-KDE-NepomukProperties=http://www.semanticdesktop.org/ontologies/2008/07/04/nir#regionDepicts;http://www.semanticdesktop.org/ontologies/2007/01/19/nie#relatedTo
X-KDE-NepomukResourceType=http://www.semanticdesktop.org/ontologies/2007/03/22/nco#PersonContact
X-Nepomuk-ResourceTypes=http://freedesktop.org/standards/xesam/1.0/core#Image,http://www.semanticdesktop.org/ontologies/2007/03/22/nfo#Image
