[Desktop Entry]
Name=Nepomuk contact annotation plugin
Name[bs]=Nepomuk dodatak za pribilješke kontakta
Name[de]=Nepomuk-Modul für Kontaktanmerkungen
Name[es]=Complemento de notas de contactos para Nepomuk
Name[et]=Nepomuki kontakti annoteerimise plugin
Name[fi]=Nepomukin yhteystietojen merkintäliitännäinen
Name[fr]=Module externe Nepomuk d'annotation de contacts
Name[gl]=Engadido de anotación de contactos de Nepomuk
Name[hu]=Nepomuk partner magyarázat bővítmény
Name[km]=កម្មវិធី​ជំនួយ​ចំណារ​ពន្យល់​​ទាក់ទង Nepomuk
Name[mr]=नेपोमुक संपर्क एनोटेशन प्लगइन
Name[nds]=Nepomuk-Kontakt-Anmarkmoduul
Name[nl]=Nepomuk contact-annotatie-plugin
Name[pl]=Wtyczka adnotacji kontaktów dla Nepomuk
Name[pt]='Plugin' de anotações de contactos do Nepomuk
Name[pt_BR]=Plugin de anotação de contatos do Nepomuk
Name[sk]=Plugin anotácie kontaktu Nepomuk
Name[sv]=Nepomuk noteringsinsticksprogram för kontakter
Name[uk]=Додаток анотації контактів Nepomuk
Name[x-test]=xxNepomuk contact annotation pluginxx
Comment=Nepomuk contact annotation plugin
Comment[bs]=Nepomuk dodatak za pribilješke kontakta
Comment[de]=Nepomuk-Modul für Kontaktanmerkungen
Comment[es]=Complemento de notas de contactos para Nepomuk
Comment[et]=Nepomuki kontakti annoteerimise plugin
Comment[fi]=Nepomukin yhteystietojen merkintäliitännäinen
Comment[fr]=Module externe Nepomuk d'annotation de contacts
Comment[gl]=Engadido de anotación de contactos de Nepomuk
Comment[hu]=Nepomuk partner magyarázat bővítmény
Comment[km]=កម្មវិធី​ជំនួយ​ចំណារ​ពន្យល់​​ទាក់ទង Nepomuk
Comment[mr]=नेपोमुक संपर्क एनोटेशन प्लगइन
Comment[nds]=Nepomuk-Kontakt-Anmarkmoduul
Comment[nl]=Nepomuk contact-annotatie-plugin
Comment[pl]=Wtyczka adnotacji kontaktów dla Nepomuk
Comment[pt]='Plugin' de anotações de contactos do Nepomuk
Comment[pt_BR]=Plugin de anotação de contatos do Nepomuk
Comment[sk]=Plugin anotácie kontaktu Nepomuk
Comment[sv]=Nepomuk noteringsinsticksprogram för kontakter
Comment[uk]=Додаток для анотації контактів Nepomuk
Comment[x-test]=xxNepomuk contact annotation pluginxx
X-KDE-ServiceTypes=Nepomuk/AnnotationPlugin
Type=Service
X-KDE-Library=nepomuk_ncoannotationplugin
X-KDE-NepomukProperties=http://www.semanticdesktop.org/ontologies/2008/07/04/nir#regionDepicts;http://www.semanticdesktop.org/ontologies/2007/01/19/nie#relatedTo
X-KDE-NepomukResourceType=http://www.semanticdesktop.org/ontologies/2007/03/22/nco#PersonContact
X-Nepomuk-ResourceTypes=http://freedesktop.org/standards/xesam/1.0/core#Image,http://www.semanticdesktop.org/ontologies/2007/03/22/nfo#Image
