[Desktop Entry]
Name=Nepomuk project annotation plugin
Comment=Nepomuk project annotation plugin
X-KDE-ServiceTypes=Nepomuk/AnnotationPlugin
Type=Service
X-KDE-Library=nepomuk_projectannotationplugin
X-KDE-NepomukProperties=http://www.semanticdesktop.org/ontologies/2007/01/19/nie#relatedTo
X-KDE-NepomukResourceType=http://www.semanticdesktop.org/ontologies/2007/11/01/pimo#Project
