[Desktop Entry]
Name=Nepomuk project annotation plugin
Name[nds]=Nepomuk-Projekt-Anmarkmoduul
Name[nl]=Nepomuk project-annotatie-plugin
Name[pt]='Plugin' de anotações de projectos do Nepomuk
Name[uk]=Додаток анотації проектів Nepomuk
Name[x-test]=xxNepomuk project annotation pluginxx
Comment=Nepomuk project annotation plugin
Comment[nds]=Nepomuk-Projekt-Anmarkmoduul
Comment[nl]=Nepomuk project-annotatie-plugin
Comment[pt]='Plugin' de anotações de projectos do Nepomuk
Comment[uk]=Додаток анотації проектів Nepomuk
Comment[x-test]=xxNepomuk project annotation pluginxx
X-KDE-ServiceTypes=Nepomuk/AnnotationPlugin
Type=Service
X-KDE-Library=nepomuk_projectannotationplugin
X-KDE-NepomukProperties=http://www.semanticdesktop.org/ontologies/2007/01/19/nie#relatedTo
X-KDE-NepomukResourceType=http://www.semanticdesktop.org/ontologies/2007/11/01/pimo#Project
