[Desktop Entry]
Name=Nepomuk project annotation plugin
Name[el]=Πρόσθετο σημείωσης έργου του Nepomuk
Name[en_GB]=Nepomuk project annotation plugin
Name[es]=Complemento de anotación de proyectos de Nepomuk
Name[et]=Nepomuki projekti annoteerimise plugin
Name[fr]=Module d'annotation de projets pour Nepomuk
Name[gl]=Extensión de anotación de proxectos para Nepomuk
Name[hr]=Nepomuk priključak za komentiranje projekta
Name[ja]=Nepomuk プロジェクト注釈プラグイン
Name[km]=កម្មវិធីជំនួយ​កា​រជូន​ដំណឹង​របស់​គម្រោង Nepomuk
Name[nds]=Nepomuk-Projekt-Anmarkmoduul
Name[nl]=Nepomuk project-annotatie-plugin
Name[pt]='Plugin' de anotação de projectos do Nepomuk
Name[pt_BR]=Plugin de anotação de projetos do Nepomuk
Name[sv]=Nepomuk insticksprogram för notering av projekt
Name[tr]=Nepomuk proje duyuru eklentisi
Name[uk]=Додаток анотації проектів Nepomuk
Name[x-test]=xxNepomuk project annotation pluginxx
Comment=Nepomuk project annotation plugin
Comment[el]=Πρόσθετο σημείωσης έργου του Nepomuk
Comment[en_GB]=Nepomuk project annotation plugin
Comment[es]=Complemento de anotación de proyectos de Nepomuk
Comment[et]=Nepomuki projekti annoteerimise plugin
Comment[fr]=Module d'annotation de projets pour Nepomuk
Comment[gl]=Extensión de anotación de proxectos para Nepomuk
Comment[hr]=Nepomuk priključak za komentiranje projekta
Comment[ja]=Nepomuk プロジェクト注釈プラグイン
Comment[km]=កម្មវិធីជំនួយ​ការ​ជូនដំណឹង​របស់​គម្រោង​ Nepomuk
Comment[nds]=Nepomuk-Projekt-Anmarkmoduul
Comment[nl]=Nepomuk project-annotatie-plugin
Comment[pt]='Plugin' de anotação de projectos do Nepomuk
Comment[pt_BR]=Plugin de anotação de projetos do Nepomuk
Comment[sv]=Nepomuk insticksprogram för notering av projekt
Comment[tr]=Nepomuk proje duyuru eklentisi
Comment[uk]=Додаток для анотації проектів Nepomuk
Comment[x-test]=xxNepomuk project annotation pluginxx
X-KDE-ServiceTypes=Nepomuk/AnnotationPlugin
Type=Service
X-KDE-Library=nepomuk_projectannotationplugin
X-KDE-NepomukProperties=http://www.semanticdesktop.org/ontologies/2007/01/19/nie#relatedTo
X-KDE-NepomukResourceType=http://www.semanticdesktop.org/ontologies/2007/11/01/pimo#Project
