[Desktop Entry]
Name=Nepomuk tags annotation plugin
Name[bs]=Nepomuk dodatak za pribilješke za oznake
Name[de]=Nepomuk-Modul für Stichwörteranmerkungen
Name[et]=Nepokumi siltide annoteerimise plugin
Name[fr]=Module externe Nepomuk d'annotation d'étiquette
Name[gl]=Engadido de anotación de etiquetas de Nepomuk
Name[hu]=Nepomuk címkék magyarázat bővítmény
Name[km]=កម្មវិធី​ជំនួយ​ចំណារ​ពន្យល់ស្លាក Nepomuk
Name[mr]=नेपोमुक टॅग्स एनोटेशन प्लगइन
Name[nds]=Nepomuk-Slötelwoortanmark-Moduul
Name[nl]=Nepomuk annotatie-plugin voor tags
Name[pl]=Wtyczka adnotacji znaczników dla Nepomuk
Name[pt]='Plugin' de anotações de marcas do Nepomuk
Name[pt_BR]=Plugin de anotação de marcas do Nepomuk
Name[sk]=Plugin anotácie značiek Nepomuk
Name[sv]=Nepomuk noteringsinsticksprogram för etiketter
Name[uk]=Додаток анотації міток Nepomuk
Name[x-test]=xxNepomuk tags annotation pluginxx
Comment=Nepomuk tags region annotation plugin
Comment[bs]=Nepomuk dodatak za pribilješke oznaka regiona
Comment[de]=Nepomuk-Modul für Anmerkungen zu Stichwortbereichen
Comment[et]=Nepomuki siltide piirkonna annoteerimise plugin
Comment[fr]=Module externe Nepomuk d'annotation de régions d'étiquettes
Comment[gl]=Engadido de anotación de rexións de etiquetas de Nepomuk
Comment[hu]=Nepomuk címkerégiók magyarázat bővítmény
Comment[km]=កម្មវិធី​ជំនួយ​ចំណារ​ពន្យល់​តំបន់​ស្លាក Nepomuk
Comment[mr]=नेपोमुक टॅग्स क्षेत्र एनोटेशन प्लगइन
Comment[nds]=Nepomuk-Slötelwoortrebeet-Anmarkmoduul
Comment[nl]=Nepomuk annotatie-plugin voor tags-regio's
Comment[pl]=Wtyczka adnotacji regionów znaczników dla Nepomuk
Comment[pt]='Plugin' de anotações de regiões de marcas do Nepomuk
Comment[pt_BR]=Plugin de anotação das regiões das marcas do Nepomuk
Comment[sk]=Plugin anotácie oblasti značiek Nepomuk
Comment[sv]=Nepomuk noteringsinsticksprogram för etiketter i områden
Comment[uk]=Додаток анотації регіону міток Nepomuk
Comment[x-test]=xxNepomuk tags region annotation pluginxx
X-KDE-ServiceTypes=Nepomuk/AnnotationPlugin
Type=Service
X-KDE-Library=nepomuk_tagsannotationplugin
X-KDE-NepomukProperties=http://www.semanticdesktop.org/ontologies/2007/08/15/nao#hasTag
X-KDE-NepomukResourceType=http://www.semanticdesktop.org/ontologies/2007/08/15/nao#Tag

# we can tag everything
X-Nepomuk-ResourceTypes=*
