[Desktop Entry]
Name=Annotate...
Name[cs]=Anotace...
Name[de]=Anmerkung ...
Name[et]=Annoteeri...
Name[km]=ធ្វើ​ចំណារ...
Name[nl]=Annoteren...
Name[pt]=Anotar...
Name[pt_BR]=Anotar...
Name[uk]=Анотувати…
Name[x-test]=xxAnnotate...xx
Type=Application
MimeType=all/all;
Icon=nepomuk
Exec=nepomuksimplennotator %U
