[Desktop Entry]
Type=ServiceType
X-KDE-ServiceType=Nepomuk/ResourceActionPlugin

Comment=Nepomuk resource action plugin
Comment[es]=Complemento de acciones para recursos de Nepomuk
Comment[et]=Nepomuki ressursi toimingu plugin
Comment[fr]=Module externe Nepomuk d'actions sur les ressources
Comment[km]=កម្មវិធី​ជំនួយ​សកម្មភាព​ធនធាន Nepomuk
Comment[nds]=Nepomuk-Akschoonressource-Moduul
Comment[nl]=Nepomuk hulpbronactie-plugin
Comment[pl]=Wtyczka działania na zasobach dla Nepomuk
Comment[pt]='Plugin' de acções dos recursos do Nepomuk
Comment[pt_BR]=Plug-in de ações dos recursos do Nepomuk
Comment[sv]=Nepomuk insticksprogram för resursåtgärder
Comment[uk]=Додаток дій ресурсів Nepomuk
Comment[x-test]=xxNepomuk resource action pluginxx

[PropertyDef::X-KDE-NepomukResourceType]
Type=QStringList
