[Desktop Entry]
Type=ServiceType
X-KDE-ServiceType=Nepomuk/AnnotationPlugin

Comment=Nepomuk annotation plugin
Comment[bs]=Nepomuk dodatak za pribilješke
Comment[de]=Nepomuk-Anmerkungen-Modul
Comment[es]=Complemento de notas de Nepomuk
Comment[et]=Nepomuki annotatsiooniplugin
Comment[fi]=Nepomuk-merkintäliitännäinen
Comment[fr]=Module externe Nepomuk d'annotation
Comment[gl]=Engadido de anotación para Nepomuk
Comment[hu]=Nepomuk magyarázat bővítmény
Comment[km]=កម្មវិធី​ជំនួយ​ចំណារ​ពន្យល់ Nepomuk
Comment[mr]=नेपोमुक एनोटेशन प्लगइन
Comment[nl]=Nepomuk annotatie-plugin
Comment[pl]=Wtyczka adnotacji dla Nepomuk
Comment[pt]='Plugin' de anotações do Nepomuk
Comment[pt_BR]=Plugin de anotações do Nepomuk
Comment[sk]=Plugin anotácie Nepomuk
Comment[sv]=Nepomuk noteringsinsticksprogram
Comment[uk]=Додаток анотації Nepomuk
Comment[x-test]=xxNepomuk annotation pluginxx

# The types of resources supported by the plugin, i.e. it can create annotations
# for this kind of resource. Wildcard * is allowed to indicate all resource types
[PropertyDef::X-Nepomuk-ResourceTypes]
Type=QStringList
