[Desktop Entry]
Type=ServiceType
X-KDE-ServiceType=Nepomuk/ResourceActionPlugin

Comment=Nepomuk resource action plugin
Comment[uk]=Додаток дій ресурсів Nepomuk

[PropertyDef::X-KDE-NepomukResourceType]
Type=QStringList
