[Desktop Entry]
Name=Context annotation plugin
Name[uk]=Додаток контекстної анотації
Comment=Nepomuk Annotation Plugin which proposes to relate to the current Nepomuk context
Comment[uk]=Додаток анотації Nepomuk, який пропонує зв’язки з поточним контекстом Nepomuk
X-KDE-ServiceTypes=Nepomuk/AnnotationPlugin
Type=Service
X-KDE-Library=nepomuk_contextannotationplugin

# FIXME
X-Nepomuk-ResourceTypes=*
