[Desktop Entry]
Name=Context annotation plugin
Name[es]=Complemento de notas de contexto
Name[et]=Konteksti annotatsiooniplugin
Name[fr]=Module externe d'annotation de contextes
Name[km]=កម្មវិធី​ជំនួយ​ចំណារ​ពន្យល់​បរិបទ
Name[nds]=Kontext-Anmarkmoduul
Name[nl]=Contextannotatie-plugin
Name[pl]=Wtyczka adnotacji kontekstu
Name[pt]='Plugin' de anotações do contexto
Name[pt_BR]=Plugin de anotações do contexto
Name[sv]=Insticksprogram för sammanhangsnotering
Name[uk]=Додаток контекстної анотації
Name[x-test]=xxContext annotation pluginxx
Comment=Nepomuk Annotation Plugin which proposes to relate to the current Nepomuk context
Comment[es]=Complemento de notas de Nepomuk que propone relaciones con el contexto actual de Nepomuk
Comment[et]=Nepomuki annotatsiooniplugin, mis püüab seostada aktiivset Nepomuki konteksti
Comment[fr]=Module externe Nepomuk  d'annotation proposant une relation avec le contexte Nepomuk actuel
Comment[km]=កម្មវិធី​ជំនួយ​ចំណារ​ពន្យល់ Nepomuk ដែល​ដាក់​ស្នើ​ដើម្បី​ទាក់ទង​ទៅ​កាន់​បរិបទ Nepomuk បច្ចុប្បន្ន
Comment[nds]=Nepomuk-Anmarkmoduul, dat Betöög na den aktuellen Nepomuk-Kontext vörsleit
Comment[nl]=De Nepomuk annotatie-plugin stelt een relatie voor met de huidige Nepomuk context
Comment[pl]=Wtyczka adnotacji dla Nepomuk, która proponuje powiązanie do bieżącego kontekstu Nepomuk
Comment[pt]='Plugin' de anotações do Nepomuk que propõe a relação com o contexto do Nepomuk actual
Comment[pt_BR]=Um plugin de anotações do Nepomuk que tenta relacionar a partir do contexto atual do Nepomuk
Comment[sv]=Nepomuk noteringsinsticksprogram vilket föreslår relationer till nuvarande sammanhang i Nepomuk
Comment[uk]=Додаток анотації Nepomuk, який пропонує зв’язки з поточним контекстом Nepomuk
Comment[x-test]=xxNepomuk Annotation Plugin which proposes to relate to the current Nepomuk contextxx
X-KDE-ServiceTypes=Nepomuk/AnnotationPlugin
Type=Service
X-KDE-Library=nepomuk_contextannotationplugin

# FIXME
X-Nepomuk-ResourceTypes=*
