[Desktop Entry]
Name=DBpedia annotation plugin
Name[et]=DBpedia annotatsiooniplugin
Name[fr]=Module d'annotation DBpedia
Name[km]=កម្មវិធី​ជំនួយ​ចំណារ​ពន្យល់ DBpedia
Name[nds]=DBpedia-Anmarkenmoduul
Name[nl]=DBpedia annotatie-plugin
Name[pl]=Wtyczka adnotacji DBpedia
Name[pt]='Plugin' de anotações do DBpedia
Name[pt_BR]=Plug-in de anotações do DBpedia
Name[uk]=Додаток анотації DBpedia
Name[x-test]=xxDBpedia annotation pluginxx
Comment=Nepomuk Annotation Plugin which searches DBpedia for related resources
Comment[et]=Nepomuki annotatsiooniplugin, mis otsib DBpedias asjakohaseid ressursse
Comment[fr]=Module externe Nepomuk d'annotation effectuant une recherche dans des ressources connexes pour DBpedia
Comment[km]=កម្មវិធី​ជំនួយ​ចំណារ​ពន្យល់ Nepomuk ដែល​ស្វែងរក DBpedia សម្រាប់​ប្រភព​ដែល​បាន​ទាក់ទង
Comment[nds]=Nepomuk-Anmarkenmoduul, dat DBpedia na tohören Ressourcen dörkiekt
Comment[nl]=Nepomuk annotatie-plugin die in DBpedia zoekt naar gerelateerde hulpbronnen
Comment[pl]=Wtyczka adnotacji dla Nepomuk, która znajduje powiązane zasoby w DBpedia
Comment[pt]='Plugin' de anotações do Nepomuk que pesquisa no DBpedia por recursos relacionados
Comment[pt_BR]=Um plug-in de anotações do Nepomuk que pesquisa na DBpedia por recursos relacionados
Comment[uk]=Додаток анотації Nepomuk, який виконує пошук пов’язаних ресурсів у DBpedia
Comment[x-test]=xxNepomuk Annotation Plugin which searches DBpedia for related resourcesxx
X-KDE-ServiceTypes=Nepomuk/AnnotationPlugin
Type=Service
X-KDE-Library=nepomuk_dbpediaannotationplugin

# FIXME
X-Nepomuk-ResourceTypes=*
