[Desktop Entry]
Name=DBpedia annotation plugin
Comment=Nepomuk Annotation Plugin which searches DBpedia for related resources
X-KDE-ServiceTypes=Nepomuk/AnnotationPlugin
Type=Service
X-KDE-Library=nepomuk_dbpediaannotationplugin

# FIXME
X-Nepomuk-ResourceTypes=*
