[Desktop Entry]
Name=Work Context Chooser
Name[uk]=Вибір робочого контексту
Comment=Select the current Nepomuk work context
Comment[uk]=Вибір поточного робочого контексту Nepomuk
Icon=nepomuk
Type=Service

X-KDE-ServiceTypes=Plasma/Applet
X-KDE-Library=plasma_applet_nepomukcontextchooser
X-KDE-PluginInfo-Author=Sebastian Trüg
X-KDE-PluginInfo-Email=trueg@kde.org
X-KDE-PluginInfo-Name=nepomukcontextchooser
X-KDE-PluginInfo-Version=0.2
X-KDE-PluginInfo-Website=http://nepomuk.kde.org/
X-KDE-PluginInfo-Category=
X-KDE-PluginInfo-Depends=
X-KDE-PluginInfo-License=GPL
X-KDE-PluginInfo-EnabledByDefault=true
