[Desktop Entry]
Name=Work Context Chooser
Name[es]=Selector de contextos de trabajo
Name[et]=Töökonteksti valija
Name[fr]=Sélecteur de contextes de travail
Name[km]= កម្មវិធី​ជ្រើស​​បរិបទ​ការងារ
Name[nl]=Kiezer van de werkcontext
Name[pl]=Wybierak kontekstu pracy
Name[pt]=Selector do Contexto de Trabalho
Name[pt_BR]=Seletor do Contexto de Trabalho
Name[sv]=Val av arbetssammanhang
Name[uk]=Вибір робочого контексту
Name[x-test]=xxWork Context Chooserxx
Comment=Select the current Nepomuk work context
Comment[es]=Seleccionar el contexto de trabajo actual de Nepomuk
Comment[et]=Aktiivne Nepomuki töökonteksti valimine
Comment[fr]=Sélectionne le contexte de travail actuel de Nepomuk
Comment[km]=ជ្រើស​​បរិបទ​ការងារ Nepomuk បច្ចុប្បន្ន
Comment[nl]=De huidige werkcontext van Nepomuk selecteren
Comment[pl]=Wybierz bieżący kontekst pracy Nepomuk
Comment[pt]=Selecciona o contexto de trabalho actual do Nepomuk
Comment[pt_BR]=Selecione o contexto de trabalho atual do Nepomuk
Comment[sv]=Välj nuvarande arbetssammanhang för Nepomuk
Comment[uk]=Вибір поточного робочого контексту Nepomuk
Comment[x-test]=xxSelect the current Nepomuk work contextxx
Icon=nepomuk
Type=Service

X-KDE-ServiceTypes=Plasma/Applet
X-KDE-Library=plasma_applet_nepomukcontextchooser
X-KDE-PluginInfo-Author=Sebastian Trüg
X-KDE-PluginInfo-Email=trueg@kde.org
X-KDE-PluginInfo-Name=nepomukcontextchooser
X-KDE-PluginInfo-Version=0.2
X-KDE-PluginInfo-Website=http://nepomuk.kde.org/
X-KDE-PluginInfo-Category=
X-KDE-PluginInfo-Depends=
X-KDE-PluginInfo-License=GPL
X-KDE-PluginInfo-EnabledByDefault=true
