[Desktop Entry]
Encoding=UTF-8
Type=Service
Name=Nepomuk File Item Action plugin
Name[de]=Nepomuk-Aktionsmodul für Dateieinträge
Name[es]=Complemento de elementos de acción para archivos de Nepomuk
Name[et]=Nepomuki faili toimingu plugin
Name[fr]=Module externe Nepomuk d'actions sur des éléments de fichiers
Name[gl]=Engadido de elementos de acción dos ficheiros de Nepomuk
Name[hu]=Nepomuk fájlelem művelet bővítmény
Name[km]=កម្មវិធី​ជំនួយ​សកម្មភាព​ធាតុ​ឯកសារ Nepomuk
Name[mr]=नेपोमुक फाईल घटक क्रिया प्लगइन
Name[nl]=Nepomuk plugin voor actie voor bestanditem
Name[pl]=Wtyczka działania na elemencie pliku dla Nepomuk
Name[pt]='Plugin' para Acções de Itens de Ficheiros do Nepomuk
Name[pt_BR]=Plugin para ações de itens de arquivos do Nepomuk
Name[sk]=Plugin akcie položky súboru Nepomuk
Name[sv]=Nepomuk insticksprogram för filobjektåtgärder
Name[uk]=Додаток дії над пунктом файла Nepomuk
Name[x-test]=xxNepomuk File Item Action pluginxx
Comment=Annotate files and folders via a dynamic Nepomuk menu
Comment[de]=Anmerkungen für Dateien und Ordner mit einem dynamischen Nepomuk-Menü
Comment[es]=Notas para archivos y carpetas mediante un menú dinámico de Nepomuk
Comment[et]=Failide ja kataloogide annoteerimine dünaamilise Nepomuki menüü abil
Comment[fr]=Annote des fichiers et des dossiers via un menu dynamique Nepomuk
Comment[gl]=Anota os ficheiros e cartafoles por medio dun menú dinámico de Nepomuk
Comment[hu]=Fájlok és mappák magyarázata a dinamikus Nepomuk menün keresztül
Comment[km]=កត់ត្រា​ចំណាំ​ថត និង​ឯកសារ​តាម​ម៉ឺនុយ​ថាមវន្ត Nepomuk
Comment[nl]=Bestanden en mappen annoteren via een dynamisch Nepomuk menu
Comment[pl]=Adnotuj pliki i foldery przez dynamiczne menu Nepomuk
Comment[pt]=Anotar os ficheiros e pastas através de um menu dinâmico do Nepomuk
Comment[pt_BR]=Anotar os arquivos e pastas através de um menu dinâmico do Nepomuk
Comment[sk]=Anotovať súbory a priečinky cez dynamickú ponuku Nepomuk
Comment[sv]=Lägg till noteringar för filer och kataloger via en dynamisk Nepomuk-meny
Comment[uk]=Анотування файлів і тек за допомогою динамічного меню Nepomuk
Comment[x-test]=xxAnnotate files and folders via a dynamic Nepomuk menuxx
Icon=nepomuk
X-KDE-Library=nepomukfileitemplugin
ServiceTypes=KFileItemAction/Plugin
MimeType=application/octet-stream;inode/directory;
