[Desktop Entry]
Name=Geonames annotation plugin
Name[el]=Πρόσθετο geonames του Nepomuk
Name[en_GB]=Geonames annotation plugin
Name[es]=Complemento de anotación de Geonames
Name[et]=Nepomuki annotatsiooniplugin
Name[fr]=Module d'annotation Geonames
Name[gl]=Extensión de anotación para Geonames
Name[hr]=Priključak za komentiranje zemljopisnih imena
Name[km]=កម្មវិធី​ជំនួយ​ចំណារ​​របស់ Geonames
Name[nds]=Steden-Anmarkmoduul
Name[nl]=Geonames annotatie-plugin
Name[pt]='Plugin' de anotações do Geonames
Name[pt_BR]=Plugin de anotações do Geonames
Name[sv]=Insticksprogram för notering av geografiska namn
Name[tr]=Coğrafi isimler not eklentisi
Name[uk]=Додаток анотації Geonames
Name[x-test]=xxGeonames annotation pluginxx
Comment=Nepomuk Annotation Plugin which tries to relate to geographical things such as cities from geonames
Comment[el]=Πρόσθετο σημείωσης του Nepomuk που προσπαθεί να συσχετίσει γεωγραφικά στοιχεία όπως πόλεις με το geonames
Comment[en_GB]=Nepomuk Annotation Plugin which tries to relate to geographical things such as cities from geonames
Comment[es]=Complemento de anotación de Nepomuk que intenta relacionar objetos geográficos, como ciudades, desde geonames
Comment[et]=Nepomuki annotatsiooniplugin, mis püüab seostada geograafilisi asju, näiteks linnasid
Comment[fr]=Module d'annotation pour Nepomuk visant à faire le lien depuis Geonames avec des éléments géographiques comme des villes
Comment[gl]=Extensión de anotación de Nepomuk que tenta relacionar cousas xeográficas como cidades de geonames
Comment[hr]=Nepomuk priključak za komentiranje koji pokušava povezati s zemljopisnim pojmovima poput gradova
Comment[km]=កម្មវិធី​ជំនួយ​ចំណារ​របស់ Nepomuk ដែល​ព្យាយាម​ទាក់ទង​នឹង​​វត្ថុ​ភូមិសាស្ត្រ​ដូចជា​ទីក្រុង​ពី geonames
Comment[nds]=Nepomuk-Anmarkmoduul, dat Betöög vun Steednaams op geograafsch Saken as Städer opstellen schall
Comment[nl]=Nepomuk annotatie-plugin die een relatie probeert te leggen met geografisch dingen zoals steden uit geonames
Comment[pt]=Um 'plugin' de anotações do Nepomuk que tenta relacionar a partir do Geonames com itens geográficos, como por exemplo cidades
Comment[pt_BR]=Um plugin de anotações do Nepomuk que tenta relacionar a partir do Geonames com itens geográficos, como por exemplo cidades
Comment[sv]=Nepomuk insticksprogram för notering som försöker relatera till geografiska platser som städer från geonames
Comment[uk]=Додаток анотації Nepomuk, який намагається знайти зв’язок з географічними назвами, такими як міста, з Geonames
Comment[x-test]=xxNepomuk Annotation Plugin which tries to relate to geographical things such as cities from geonamesxx
X-KDE-ServiceTypes=Nepomuk/AnnotationPlugin
Type=Service
X-KDE-Library=nepomuk_geonamesannotationplugin

# FIXME
X-Nepomuk-ResourceTypes=*
