[Desktop Entry]
Name=Geonames annotation plugin
Comment=Nepomuk Annotation Plugin which tries to relate to geographical things such as cities from geonames
X-KDE-ServiceTypes=Nepomuk/AnnotationPlugin
Type=Service
X-KDE-Library=nepomuk_geonamesannotationplugin

# FIXME
X-Nepomuk-ResourceTypes=*
