[Desktop Entry]
Name=Nepomuk PIMO property creation annotation plugin
Name[bs]=Nepomuk dodatak za pribilješke PIMO vlasništva
Name[de]=Nepomuk-Anmerkungen-Modul für die Erstellung von PIMO-Eigenschaften
Name[es]=Complemento para la creación de propiedades de notas del modelo de información personal (PIMO) de Nepomuk 
Name[et]=Nepomuki PIMO omaduse loomise annoteerimise plugin
Name[fi]=Nepomukin PIMO-ominaisuudenluonnin merkintäliitännäinen
Name[fr]=Module externe d'annotation Nepomuk pour la création de propriétés « PIMO »
Name[gl]=Engadido de anotacións de creación de propiedades en PIMO para Nepomuk
Name[hu]=Nepomuk PIMO tulajdonság létrehozás magyarázat bővítmény
Name[km]=កម្មវិធី​ជំនួយ​ចំណារ​ពន្យល់​​ការ​បង្កើត​លក្ខណសម្បត្តិ Nepomuk PIMO
Name[mr]=नेपोमुक पिमो गुणधर्म निर्माण एनोटेशन प्लगइन
Name[nl]=Plugin van Nepomuk PIMO van annotatie van eigenschapcreatie
Name[pl]=Wtyczka adnotacji tworzenia właściwości PIMO dla Nepomuk
Name[pt]='Plugin' de anotações de criação de propriedades do PIMO para o Nepomuk
Name[pt_BR]=Plugin de anotações de criação de propriedades do PIMO para o Nepomuk
Name[sk]=Plugin anotácie vytvorenia vlastnosti PIMO Nepomuk
Name[sv]=Nepomuk noteringsinsticksprogram för att skapa PIMO-egenskaper
Name[uk]=Додаток анотації для створення записів властивостей у PIMO Nepomuk
Name[x-test]=xxNepomuk PIMO property creation annotation pluginxx
Comment=Nepomuk Annotation Plugin which creates new property values
Comment[bs]=Nepomuk dodatak za pribilješke koji kreira novu vrijednost vlasništva
Comment[de]=Nepomuk-Anmerkungen-Modul, das neue Werte für Eigenschaften erstellt
Comment[es]=Complemento de notas de Nepomuk que crea nuevos valores de propiedad
Comment[et]=Nepomuki annotatsiooniplugin, mis loob uue omaduse väärtused
Comment[fi]=Nepomukin merkintäliitännäinen, joka luo uusia ominaisuusarvoja
Comment[fr]=Module externe d'annotation Nepomuk créant de nouvelles valeurs pour les propriétés
Comment[gl]=Engadido de anotación de Nepomuk que crea novos valores de anotación
Comment[hu]=Nepomuk magyarázat bővítmény, amely új tulajdonság értékeket hoz létre
Comment[km]=កម្មវិធី​ជំនួយ​ចំណារ​ពន្យល់​​ Nepomuk ដែល​បង្កើត​តម្លៃ​​លក្ខណសម្បត្តិ​ថ្មី
Comment[nl]=Plugin  voor Nepomuk annotatie die nieuwe eigenschapswaarden creëert
Comment[pl]=Wtyczka adnotacji dla Nepomuk, która tworzy nowe wartości właściwości
Comment[pt]='Plugin' de anotações do Nepomuk que cria novos valores para as propriedades
Comment[pt_BR]=Plugin de anotações do Nepomuk que cria novos valores para as propriedades
Comment[sk]=Plugin anotácie Nepomuk, ktorý vytvára nové hodnoty vlastností
Comment[sv]=Nepomuk noteringsinsticksprogram vilket skapar nya egenskapsvärden
Comment[uk]=Додаток анотації Nepomuk, який створює нові значення властивостей
Comment[x-test]=xxNepomuk Annotation Plugin which creates new property valuesxx
X-KDE-ServiceTypes=Nepomuk/AnnotationPlugin
Type=Service
X-KDE-Library=nepomuk_propertycreationannotationplugin

# We can annotate everything
X-Nepomuk-ResourceTypes=*
