[Desktop Entry]
Name=Scribo annotation plugin
Name[uk]=Додаток анотації Scribo
Comment=Nepomuk Annotation Plugin which extracts entitiy from a text using Scribo
Comment[uk]=Додаток анотації Nepomuk, який видобуває елементи з тексту за допомогою Scribo
X-KDE-ServiceTypes=Nepomuk/AnnotationPlugin
Type=Service
X-KDE-Library=nepomuk_scriboannotationplugin

# FIXME
X-Nepomuk-ResourceTypes=*
