[Desktop Entry]
Name=Scribo annotation plugin
Name[bs]=Scribo dodatak za pribilješke
Name[de]=Scribo-Anmerkungen-Modul
Name[es]=Complemento de notas de Scribo
Name[et]=Scribo annotatsiooniplugin
Name[fr]=Module externe d'annotation « Scribo »
Name[gl]=Engadido de anotacións de Scribo
Name[hu]=Scribo magyarázat bővítmény
Name[km]=កម្មវិធី​ជំនួយ​ចំណារ​ពន្យល់ Scribo
Name[mr]=स्क्रीबो एनोटेशन प्लगइन
Name[nds]=Scribo-Anmarkenmoduul
Name[nl]=Scribo-annotatie-plugin
Name[pl]=Wtyczka adnotacji dla Scribo
Name[pt]='Plugin' de anotações do Scribo
Name[pt_BR]=Plugin de anotações do Scribo
Name[sk]=Plugin anotácie Scribo
Name[sv]=Scribo noteringsinsticksprogram
Name[uk]=Додаток анотації Scribo
Name[x-test]=xxScribo annotation pluginxx
Comment=Nepomuk Annotation Plugin which extracts entitiy from a text using Scribo
Comment[bs]=Nepomuk dodatak za pribilješke koji vadi entitete iz teksta koristeći Scribo
Comment[de]=Nepomuk-Anmerkungen-Modul, das Entitäten aus einem Text mit Hilfe von Scribo erstellt.
Comment[es]=Complemento de notas Nepomuk que extrae entidades de un texto usando Scribo
Comment[et]=Nepomuki annotatsiooniplugin, mis hangib Scribo vahendusel tekstist olemeid
Comment[fr]=Module externe d'annotation Nepomuk extrayant une entité à partir d'un texte à l'aide de « Scribo »
Comment[gl]=Engadido de anotacións de Nepomuk que extrae entidades dun texto empregando Scribo
Comment[hu]=Nepomuk magyarázat bővítmény, amely szövegből entitást bont ki a Scribo használatával
Comment[km]=កម្មវិធី​ជំនួយ​ចំណារ​ពន្យល់ Nepomuk ដែល​ស្រង់​ធាតុចេញពី​​អត្ថបទ​ដោយ​ប្រើ Scribo
Comment[nds]=Nepomuk-Anmarkenmoduul, dat mit Scribo Eenheiten ut en Text ruttreckt
Comment[nl]=Nepomuk annotatie-plugin die met behulp van Scribo entiteit uit een tekst haalt
Comment[pl]=Wtyczka adnotacji dla Nepomuk, która wydobywa jednostkę z tekstu używając Scribo 
Comment[pt]='Plugin' de anotações do Nepomuk que extrai entidades do texto com o Scribo
Comment[pt_BR]=Um plugin de anotações do Nepomuk que extrai a entidade de um texto com o Scribo
Comment[sk]=Plugin anotácie Nepomuk, ktorý extrahuje entity z textu pomocou Scribo
Comment[sv]=Nepomuk noteringsinsticksprogram vilket extraherar entiteter från en text med användning av Scribo
Comment[uk]=Додаток анотації Nepomuk, який видобуває елементи з тексту за допомогою Scribo
Comment[x-test]=xxNepomuk Annotation Plugin which extracts entitiy from a text using Scriboxx
X-KDE-ServiceTypes=Nepomuk/AnnotationPlugin
Type=Service
X-KDE-Library=nepomuk_scriboannotationplugin

# FIXME
X-Nepomuk-ResourceTypes=*
