[Desktop Entry]
Name=Annotate...
Name[be]=Натаваць...
Name[bg]=Анотация...
Name[de]=Kategorisieren ...
Name[el]=Σημείωση...
Name[en_GB]=Annotate...
Name[es]=Anotar...
Name[et]=Annoteeri...
Name[fr]=Annoter...
Name[ga]=Anótáil...
Name[gl]=Anotar...
Name[hr]=Komentiraj …
Name[ja]=注釈...
Name[km]=សរសេរ...
Name[nds]=Anmarken...
Name[nl]=Annoteren...
Name[nn]=Kommenter …
Name[pt]=Anotar...
Name[pt_BR]=Anotar...
Name[ro]=Adnotare...
Name[sv]=Notera...
Name[tr]=Duyur...
Name[uk]=Анотувати...
Name[x-test]=xxAnnotate...xx
Type=Application
MimeType=all/all;
Icon=nepomuk
Exec=nepomuktextnnotator %U
