[Desktop Entry]
Name=Annotate...
Name[bs]=Označi...
Name[cs]=Anotace...
Name[de]=Anmerkung ...
Name[es]=Anotar...
Name[fr]=Annotation...
Name[ga]=Anótáil...
Name[gl]=Anotar...
Name[hu]=Magyarázat…
Name[km]=ធ្វើ​ចំណារ...
Name[mr]=एनोटेट...
Name[nl]=Annoteren...
Name[pl]=Adnotuj...
Name[pt]=Anotar...
Name[pt_BR]=Anotar...
Name[sk]=Anotácia...
Name[sv]=Notera...
Name[uk]=Анотувати…
Name[x-test]=xxAnnotate...xx
Type=Application
MimeType=all/all;
Icon=nepomuk
Exec=nepomuktextnnotator %U
