[Desktop Entry]
Type=Service
ServiceTypes=KonqPopupMenu/Plugin
MimeType=all/all;
Actions=annotate;

[Desktop Action annotate]
Name=Annotate...
Name[bs]=Označi...
Name[cs]=Anotace...
Name[de]=Anmerkung ...
Name[es]=Anotar...
Name[fr]=Annotation...
Name[ga]=Anótáil...
Name[gl]=Anotar...
Name[hu]=Magyarázat…
Name[km]=ធ្វើ​ចំណារ...
Name[mr]=एनोटेट...
Name[nl]=Annoteren...
Name[pl]=Adnotuj...
Name[pt]=Anotar...
Name[pt_BR]=Anotar...
Name[sk]=Anotácia...
Name[sv]=Notera...
Name[uk]=Анотувати…
Name[x-test]=xxAnnotate...xx
Comment=Nepomuk PIMO Resource Editor
Comment[bs]=Uređivač Nepomuk PIMO resursa
Comment[de]=Ressourcen-Editor für Nepomuk
Comment[es]=Editor de recursos para el modelo de información personal (PIMO) de Nepomuk
Comment[fr]=Éditeur de ressources « PIMO » de Nepomuk
Comment[gl]=Editor de recursos de PIMO para Nepomuk
Comment[hu]=Nepomuk PIMO erőforrás szerkesztő
Comment[km]=អ្នក​កែសម្រួល​ធនធាន Nepomuk PIMO
Comment[mr]=नेपोमुक पिमो संसाधन संपादक
Comment[nl]=Nepomuk PIMO-hulpbronbewerker
Comment[pl]=Edytor zasobów PIMO dla Nepomuk
Comment[pt]=Editor de Recursos PIMO do Nepomuk
Comment[pt_BR]=Editor de recursos PIMO do Nepomuk
Comment[sk]=Editor zdrojov Nepomuk PIMO
Comment[sv]=Nepomuk PIMO-resurseditor
Comment[uk]=Редактор ресурсів PIMO Nepomuk
Comment[x-test]=xxNepomuk PIMO Resource Editorxx
Icon=nepomuk
Exec=resourceeditor %U
