[Desktop Entry]
Type=Service
ServiceTypes=KonqPopupMenu/Plugin
MimeType=all/all;
Actions=annotate;

[Desktop Action annotate]
Name=Annotate...
Name[cs]=Anotace...
Name[de]=Anmerkung ...
Name[et]=Annoteeri...
Name[fr]=Annotation...
Name[ga]=Anótáil...
Name[hu]=Magyarázat…
Name[km]=ធ្វើ​ចំណារ...
Name[nl]=Annoteren...
Name[pl]=Adnotuj...
Name[pt]=Anotar...
Name[pt_BR]=Anotar...
Name[sk]=Anotácia...
Name[sv]=Notera...
Name[uk]=Анотувати…
Name[x-test]=xxAnnotate...xx
Comment=Nepomuk PIMO Resource Editor
Comment[et]=Nepomuki PIMO ressursi redaktor
Comment[fr]=Éditeur de ressources PIMO de Nepomuk
Comment[hu]=Nepomuk PIMO erőforrás szerkesztő
Comment[km]=អ្នក​កែសម្រួល​ធនធាន Nepomuk PIMO
Comment[nl]=Nepomuk PIMO-hulpbronbewerker
Comment[pl]=Edytor zasobów PIMO dla Nepomuk
Comment[pt]=Editor de Recursos PIMO do Nepomuk
Comment[pt_BR]=Editor de recursos PIMO do Nepomuk
Comment[sv]=Nepomuk PIMO-resurseditor
Comment[uk]=Редактор ресурсів PIMO Nepomuk
Comment[x-test]=xxNepomuk PIMO Resource Editorxx
Icon=nepomuk
Exec=resourceeditor %U
